// @import 'flex-layout-styles';

/* :host {
  @include layout;
  @include layout-center-center;
  flex: 1;
  --iron-icon-fill-color: var(--uxl-interaction-notify-icon-color, currentcolor);
}

paper-toast {
  @include layout-horizontal;
  @include layout-justified;
  @include layout-center;
  --paper-toast-color: var(--uxl-interaction-notify-text-color, #f1f1f1);
  --paper-toast-background-color: var(--uxl-interaction-notify-background-color, #323232);
  padding: var(--uxl-interaction-notify-padding, #{0px 0px 0px 24px});
  border-radius: 5px;
} */

#toast[type='danger'] {
  background-color: #f44336;
}

#toast[type='warning'] {
  background-color: #ff9800;
}

#toast[type='info'] {
  background-color: #2196f3;
}

#toast[type='success'] {
  background-color: #4caf50;
}
