:host {
  --icon-size: 24px;
  --icon-color: black;
  width: var(--icon-size);
  height: var(--icon-size);
}

svg {
  width: var(--icon-size);
  height: var(--icon-size);
  fill: var(--icon-color);
}
