@import '../../../node_modules/@uxland/style-utilities/mediaqueries-styles';

:host {
  min-height: 1px;
  height: 100%;

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent !important;
  }

  *::-webkit-scrollbar-thumb {
    background: var(--paper-grey-400) !important;
    border-radius: 4px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: var(--paper-grey-400) !important;
    border-radius: 4px;
  }
}

$min-grid: calc((var(--grid-width) - 32px) / var(--number-columns));

@mixin format-grid {
  display: grid;
  @include phone {
    gap: 4px;
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
  }
  @include tablet {
    gap: var(--uxl-grid-gap, 16px);
    grid-template-columns: repeat(auto-fit, minmax(#{$min-grid}, 1fr));
  }
}

.header {
  @include format-grid;
  border-bottom: 1px solid grey;

  @include phone {
    display: none;
  }

  .header__cell {
    display: flex;
    padding: 16px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .header__name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .icon {
      padding-left: var(--uxl-grid-order-separator, .5rem) !important;

      svg {
        fill: var(--uxl-grid-order-icon-color, blue);
        width: var(--uxl-grid-order-icon-size, 14px) !important;
        height: var(--uxl-grid-order-icon-size, 14px) !important;
      }
    }
  }
}

#grid {
  height: 100%;
  min-height: 1px;
}

.content {
  height: 100%;
  min-height: 1px;

  .card {
    display: none;
    @include phone {
      display: flex;
    }
  }

  .content__row {
    @include format-grid;
    border-bottom: 1px solid grey;
    color: var(--uxl-grid-row-color);
    width: 100%;

    .card--enabled {
      @include phone {
        display: none;
      }
    }

    &:hover:not(.disabled) {
      background-color: var(--uxl-grid-row-hover-color, var(--paper-grey-100));
      cursor: pointer;
    }

    &.disabled {
      color: var(--uxl-grid-row-disabled-color, var(--paper-grey-400));
      background-color: var(--uxl-grid-row-disabled-background-color, var(--paper-grey-50));
    }

    .content__cell {
      padding: 16px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include phone {
        padding: 0;
      }
    }
  }
}

lit-virtualizer {
  min-height: 1px;
  height: 100%;
  overflow: var(--uxl-grid-overflow, overlay);
}
